<%= form_tag({controller: 'orders', action: 'authenticate'}, {method: 'post', class: 'form-horizontal col-sm-8', role: 'form'}) do %>
  <div class="form-group <%= 'has-error' if @errors && @errors[:id] %>">
    <%= label_tag(:id, t('orders.sign_in.id_label'), class: "col-sm-4 control-label") %>
    <div class="col-sm-8">
      <%= text_field_tag(:id, @order_id, class: 'form-control', placeholder: t('orders.sign_in.id_placeholder')) %>
        <span class="help-block"><%= help_text_for_sign_in_field(:id) %></span>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @errors && @errors[:security_key] %>" >
    <%= label_tag(:security_key, t('orders.sign_in.security_key_label'), class: "col-sm-4 control-label") %>
    <div class="col-sm-8">
      <%= password_field_tag(:security_key, nil, class: 'form-control', placeholder: t('orders.sign_in.security_key_placeholder')) %>
        <span class="help-block"><%= help_text_for_sign_in_field(:security_key) %></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <%= submit_tag(t('orders.sign_in.submit'), class: 'btn btn-primary btn-lg btn-block') %>
    </div>
  </div>
<% end %>
<div class="col-sm-12">
  <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal">Passwort vergessen?</button>
</div> 

<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <%= form_tag({controller: 'orders', action: 'authenticate'}, {method: 'post', class: 'modal-content form-horizontal', role: 'form'}) do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sicherheitsschlüssel neu anfordern</h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
        <div class="form-group <%= 'has-error' if @errors && @errors[:id] %>">
          <%= label_tag(:id, t('orders.sign_in.id_label'), class: "col-sm-4 control-label") %>
          <div class="col-sm-8">
            <%= text_field_tag(:id, @order_id, class: 'form-control', placeholder: t('orders.sign_in.id_placeholder')) %>
            <span class="help-block">Bitte geben Sie ihre Auftragsnummer mit ein</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
        <%= submit_tag(t('orders.sign_in.submit'), class: 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>