<%= form_tag({controller: 'orders', action: 'authenticate'}, {method: 'post', class: 'form-horizontal', role: 'form'}) do %>
  <div class="form-group <%= 'has-error' if @errors && @errors[:id] %>">
    <%= label_tag(:id, t('orders.sign_in.id_label'), class: "col-sm-2 control-label") %>
    <div class="col-sm-10">
      <%= text_field_tag(:id, @order_id, class: 'form-control', placeholder: t('orders.sign_in.id_placeholder')) %>
      <% if @errors && @errors[:id] %>
        <span class="help-block"><%= t(@errors[:id]) %></span>
      <% else %>
        <span class="help-block"><%= t('orders.sign_in.id_hint') %></span>
      <% end %>
    </div>
  </div>
  <div class="form-group <%= 'has-error' if @errors && @errors[:security_key] %>" >
    <%= label_tag(:security_key, t('orders.sign_in.security_key_label'), class: "col-sm-2 control-label") %>
    <div class="col-sm-10">
      <%= password_field_tag(:security_key, nil, class: 'form-control', placeholder: t('orders.sign_in.security_key_placeholder')) %>
      <% if @errors && @errors[:security_key] %>
        <span class="help-block"><%= t(@errors[:security_key]) %></span>
      <% else %>
        <span class="help-block"><%= t('orders.sign_in.security_key_hint') %></span>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag(t('orders.sign_in.submit'), class: 'btn btn-default') %>
    </div>
  </div>
<% end %>